@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald&display=swap');

$font-family-sans-serif: "Abel";
$headings-font-family: "Oswald";

$light: #ece8e5;
$primary: #89a9c3;

$navbar-nav-link-padding-x: 2rem;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.navbar-nav .nav-item {
  text-transform: uppercase;
}

.footer-link {
  text-decoration: none;
  color: $dark;
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  text-transform: uppercase;
}
