<!--Denotes that the checkout template is a child of the layout template, and will inherit it's properties-->
{% extends "layout.html" %}

<!--Overrides the title of the Layout template for the contact page-->
{% block title %}Contact Us | The Idle Man{% endblock %}

<!--Overrides the body content of the Layout template for the contact page-->
{% block content %}

<!--Breadcrumbs section of the page which display the parent pages leading to current page.
    Separated by > symbol -->
    <div class="container-fluid bg-light py-3">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Contact Us</li>
                    <li class="ms-auto">
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container pt-5">
        <h2 class="text-uppercase text-center mb-5">Contact Us</h2>
    </div>

    <div class="container-fluid bg-light">
        <div class="p-4 text-center">
            <h4 class="text-uppercase">General Enquiries</h4>
            <p class="pt-3">1800 435 362</p>
            <p>info@theidleman.com</p>
            <p>Weekdays 9am-5pm AEST</p>

            {% comment %} TODO: Implement contact form {% endcomment %}

        </div>
    </div>

    <div class="text-center py-3">
        <h4 class="text-uppercase py-4">How Can We Help?</h4>
            <div class="container-fluid bg-light">

                {% comment %} TODO: Implement dropdown menus {% endcomment %}
                <p class="text-uppercase py-2">Helpful dropdown infos here</p>

            </div>
            <p class="p-2 py-4">We're here to help. If your question hasn't been answered here, fill out the form and we will get back to you within 24hrs.</p>

{% endblock %}