<div class="container-fluid bg-light py-5" id="#footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <h2 class="h5 text-decoration-underline mb-4">Quick Links</h2>
                <p><a class="footer-link" href="#">About Us</a></p>
                <p><a class="footer-link" href="#">Careers</a></p>
                <p><a class="footer-link" href="#">Privacy Policy</a></p>
                <p><a class="footer-link" href="#">Terms & Conditions</a></p>
            </div>
            <div class="col-md-3 text-center">
                <h2 class="h5 text-decoration-underline mb-4">Help & Support</h2>
                <p><a class="footer-link" href="#">Contact Us</a></p>
                <p><a class="footer-link" href="#">Size Guide</a></p>
                <p><a class="footer-link" href="#">Delivery</a></p>
                <p><a class="footer-link" href="#">Returns</a></p>
                <p><a class="footer-link" href="#">FAQs</a></p>
            </div>
            <div class="col-md-6">
                <p>Sign up to be notified of promotions and style advice</p>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control" placeholder="email@example.com">
                        </div>
                        <div class="col">
                            <div class="btn btn-primary shadow text-white">Join Now</div>
                        </div>
                    </div>
                </form>

                <div class="row mt-5">
                    <div class="col"><a href="#"><i class="fab fa-facebook-square fa-4x"></i></a></div>
                    <div class="col"><a href="#"><i class="fab fa-instagram-square fa-4x"></i></a></div>
                    <div class="col"><a href="#"><i class="fab fa-twitter-square fa-4x"></i></a></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>