<!--Overall Header Nav Bar, will appear on every page of the site and will responsively adjust to fit the page width. 
    Nav bar is fixed in place when scrolling-->
<nav class="navbar fixed-top shadow navbar-expand-lg navbar-light bg-white py-4">
    <div class="container">
        <!--Nav Bar contains the Idle Man logo which will return to the home page when clicked-->
        <a class="navbar-brand me-0" href="/">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" alt="The Idle Man logo" width="150">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Nav Bar content will link to the relevant pages when clicked. 
            This will be updated in the final delivery-->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% comment %} TODO: Link to products page with filter for new products {% endcomment %}
                    <a class="nav-link" href="/products">New</a>
                </li>
                <li class="nav-item">
                    {% comment %} TODO: Link to products page with filter for clothing {% endcomment %}
                    <a class="nav-link" href="/products">Clothing</a>
                </li>
                <li class="nav-item">
                    {% comment %} TODO: Link to products page with filter for accessories {% endcomment %}
                    <a class="nav-link" href="/products">Accessories</a>
                </li>
                {% comment %}
                TODO: Implement Blog
                <li class="nav-item">
                    <a class="nav-link" href="#">Style Guide</a>
                </li> {% endcomment %}
            </ul>

            <!--The shopping cart icon has an attached counter which will update when items are added or removed from the cart-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/shopping-cart" class="d-flex nav-link">
                        <i class="fas fa-shopping-cart"></i>
                        {% if "cart" in request.session %}
                        <span class="badge rounded-pill bg-danger">{{ request.session.cart|length }}</span>
                        {% endif %}
                    </a>
                </li>

                <!--User Management-->
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userManagementDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userManagementDropdown">
                        <li><a class="dropdown-item" href="{% url 'member_profile' %}">Edit Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'member_logout' %}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'member_login' %}" class="nav-link">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'member_signup' %}" class="nav-link">Sign Up</a>
                </li>
                {% endif %}

                {% comment %} TODO: Implement search <a href="#" class="ms-5"><i class="fas fa-search"></i></a>
                {% endcomment %}
            </ul>
        </div>
    </div>
</nav>