<!--Denotes that the checkout template is a child of the layout template, and will inherit it's properties-->
{% extends "layout.html" %}

<!--Overrides the title of the Layout template for the checkout page-->
{% block title %}Home | TheIdleMan{% endblock %}

<!--Overrides the body content of the Layout templat for the checkout page-->
{% block content %}

<!--Hero carousel scrolls automatically or when clicked between 3 feature items drawn from the database. 
        Can be expanded with more featured items as needed. 
        Carousel and content responsively adjust to fit viewport-->
<div class="container-fluid homepage-top px-0">
    <div id="homepageHeroCarousel" class="carousel slide" data-bs-ride="carousel">
        <!--Carousel indicators-->
        <ol class="carousel-indicators">
            <li data-bs-target="#homepageHeroCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#homepageHeroCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#homepageHeroCarousel" data-bs-slide-to="2"></li>
        </ol>
        <!--Carousel items-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}
                <img src="{% static 'images/homepage-feature.jpg' %}" alt="feature item 1" class="d-block w-100">
                <div class="carousel-caption ms-5 d-md-block text-start text-dark">
                    <h1 class="display-3 d-md-block d-none">Discover our latest <br>collection</h1>
                    <p class="lead d-none d-md-block">Click below to see our latest collection and always look your
                        best,<br>
                        day or night.</p>
                    <a href="/products" class="btn btn-primary shadow text-white see-more">See More</a>
                </div>
            </div>
            <div class="carousel-item">
                {% load static %}
                <img src="{% static 'images/homepage-feature2.jpg' %}" alt="feature item 2" class="d-block w-100">
                <div class="carousel-caption d-md-block text-start text-white">
                    <h1 class="display-3 d-none d-md-block">Accessories for every <br>occasion</h1>
                    <p class="lead d-none d-md-block">Style is all in the little details. View our range of
                        accessories<br>to finish off your look.</p>
                    <a href="/products/categories/Accessories" class="btn btn-primary shadow text-white see-more">See
                        More</a>
                </div>
            </div>
            <div class="carousel-item">
                {% load static %}
                <img src="{% static 'images/homepage-feature3.jpg' %}" alt="feature item 3" class="d-block w-100">
                <div class="carousel-caption d-md-block text-start text-white">
                    <h1 class="display-3 d-none d-md-block">Shoes: sneakers, <br> boots and slides</h1>
                    <p class="lead d-none d-md-block">Start from the bottom with our wide range of men's shoes.</p>
                    <a href="/products/categories/Shoes" class="btn btn-primary shadow text-white see-more">See More</a>
                </div>
            </div>
        </div>
        <!--Carousel left and right controls-->
        <a class="carousel-control-prev" href="#homepageHeroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <span class="visually-hidden">Previous</span>
        <a class="carousel-control-next" href="#homepageHeroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

<!--Logos for all brands stocked by The Idle Man drawn from the database. 
    Will link to brand website on final submission-->
<div class="container-fluid shadow">
    <div class="container py-4">
        <div class="row">
            <div class="col-3 d-flex justify-content-center">
                {% load static %}
                <img class="img-fluid brand-img my-auto mx-auto px-3 px-md-0"
                    src="{% static 'images/brand-fossil.png' %}" alt="fossil logo">
            </div>
            <div class="col-3 d-flex">
                {% load static %}
                <img class="img-fluid brand-img my-auto mx-auto px-3 px-md-0"
                    src="{% static 'images/brand-taikan.png' %}" alt="taikan logo">
            </div>
            <div class="col-3 d-flex">
                {% load static %}
                <img class="img-fluid brand-img my-auto mx-auto px-3 px-md-0"
                    src="{% static 'images/brand-topman.png' %}" alt="topman logo">
            </div>
            <div class="col-3 d-flex">
                {% load static %}
                <img class="img-fluid brand-img my-auto mx-auto px-3 px-md-0" src="{% static 'images/brand-vans.png' %}"
                    alt="vans logo">
            </div>
        </div>
    </div>
</div>

<!--Area for featured products and new releases. 
    New Styles Products drawn from database objects tagged as New. 
    "Style Model" image will link to look trial avatar on final submission.-->
<div class="container-fluid py-2">
    <div class="container">
        <div class="row justify-content-center">
            <!--Style Model-->
            <div class="col-md-4 col-6 pt-2 pt-md-0 p-4 text-center">
                {% load static %}
                <div class="container-model">
                    <img class="img-fluid mx-auto d-block" src="{% static 'images/stylish-dude.png' %}"
                        alt="style model">
                    <a href="/products/13"><img class="touchpoint-jacket img-fluid"
                            src="{% static 'images/touchpoint.png' %}" alt="Jacket Touchpoint"></a>
                    <a href="/products/5"><img class="touchpoint-shoes img-fluid"
                            src="{% static 'images/touchpoint.png' %}" alt="Shoes Touchpoint"></a>
                    <a href="/products/9"><img class="touchpoint-joggers img-fluid"
                            src="{% static 'images/touchpoint.png' %}" alt="Joggers Touchpoint"></a>
                </div>
            </div>
            <!--New Styles-->
            <div class="col-md-8 d-flex text-center text-md-start">
                <div class="my-auto">
                    <div class="col">
                        <h2 class="text-uppercase">Discover Our Latest Trends</h2>
                        <p>Refresh your wardrobe with our new summer styles.<br>
                            Click below to view more of our modeled outfits.</p>
                        {% comment %} TODO: Link to products with filter for NEW {% endcomment %}
                        <a href="/products" class="btn btn-primary text-white shadow mb-4">New Styles</a>
                    </div>
                    <div class="row mt-md-3">
                        {% comment %} TODO: Link to products on the model and implement touchpoint icons
                        {% endcomment %}
                        {% for product in products %}
                        <!--New Style Products-->
                        <div class="col">
                            <div class="product-card card border-0 cursor-pointer" data-product-id="{{ product.id }}">
                                <img src="{{ product.image.url }}" class="card-img-top shadow" alt="main page product">
                                <div class="card-body text-center">
                                    <h6 class="card-title">{{ product.name }}</h6>
                                    <span class="h5"><strong>${{ product.price }}</strong></span><br>
                                    <a href="/products/{{ product.id }}" class="stretched-link" style="opacity: 0;"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Page section separator-->
<div class="container-fluid">
    <hr>
</div>

{# Blogpost section #}
<!--Area for featured blog posts with a brief synopsis. 
        Displays 3 feature blogs at a time drawn from database.-->

<!--Blogpost Articles-->
<div class="container-fluid text-center py-4 homepage-blogposts-section">
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            {% for post in post_list %}
            <div class="col-md-4">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <img class="img-fluid height: auto py-1" src="{{ post.image.url }}" class="img-fluid"
                            alt="post main image"></a>
                    <h2 class="card-title d-flex justify-content-center">{{ post.title }}</h2>
                    <p class="card-text">{{post.content|slice:":200" }}....</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/blog"><button class="btn btn-primary text-white text-uppercase shadow">See More</button></a>
    </div>
</div>

<!--Page section separator-->
<div class="container-fluid bg-light">
    <div class="container">
        &nbsp;
        <hr>
        &nbsp;
    </div>
</div>

<!--Reviews carousel scrolls automatically or when clicked between 3 reviews drawn from the database. 
        Can be expanded with more reviews as needed. 
        Carousel and content responsively adjust to fit viewport -->
<div class="bg-light">
<h3 class="text-uppercase py-3 text-center ">What Our Customers Say</h3>
<div class="container-fluid d-flex bg-light align-items-center">
    
    <!--Carousel scroller previous-->
    <a class="justify-content-start pe-md-5" href="#carouselReviews" role="button" data-bs-slide="prev">
        <span class="reviews-carousel-control-prev-icon" aria-hidden="true">
            <i class="fas fa-arrow-alt-circle-left fa-3x text-dark d-none d-md-inline-block"></i>
        </span>
        <span class="visually-hidden">Previous</span>
    </a>
    <div id="carouselReviews" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-evenly">
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                            <p>This is the first time I've used The Idle Man site and have had no problems
                                whatsoever. A very efficient and professional way to shop. I appreciate their ways of
                                dealing with...</p>
                            <a href="#" class="text-uppercase">Read More</a>
                        </div>
                        <div class="px-4"><strong><p>Steve H</p></strong></div>
                    </div>
        
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                        <p>Good product - good delivery!<br>Very happy with the 
                            whole process. This is about my seventh transaction.</p>
                        </div>
                        <div class="px-4"><strong><p>Jack C</p></strong></div>
                    </div>
        
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                            <p>Delivered promptly and efficiently as expected. <br>Unfortunately had to return as item did not
                                fit - refund given immediately upon receipt. Would be very happy to use this...</p>
                            <a href="#" class="text-uppercase">Read More</a>
                            <div class="px-4"><strong><p>Tim V</p></strong></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="carousel-item">
                <div class="row justify-content-evenly">
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                            <p>I bough a pair of shoes and was worried that it may not fit but the sizing instructions on the page were very helpful and shoes fit like a glove.</p>
                            <a href="#" class="text-uppercase">Read More</a>
                            <div class="px-4"><strong><p>Jacob S</p></strong></div>
                        </div>
                    </div>
        
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                            <p>Jeans and jacket fit great and are high quality. <br>I'm very happy with these products and received my order within 2 days. </p>
                            <div class="px-4"><strong><p>Callum S</p></strong></div>
                        </div>
                    </div>
        
                    <div class="col-md-3 me-1 bg-white py-3 rounded shadow mb-4">
                        <div class="py-3 px-5 px-md-3">
                            <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                        </div>
                        <div class="py-3 px-2">
                            <p>This shop is great. Clothes fit great and they look cool. My go to store for all casual and going out clothes. </p>
                            <div class="px-4"><strong><p>Peter F</p></strong></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--Carousel scroller next-->          
    </div>
    <a class="justify-content-end ps-md-5" href="#carouselReviews" role="button" data-bs-slide="next">
        <span class="reviews-carousel-control-next-icon" aria-hidden="true">
            <i class="fas fa-arrow-alt-circle-right fa-3x text-dark d-none d-md-inline-block"></i>
        </span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
</div>

<!--Newsletter signup area. 
    Includes text entry input field and "Join" button which will pop up a modal overlay when clicked-->
<form class="text-center">
    <div class="container py-5">
        <div class="row g-3 justify-content-center">
            <div class="col-auto d-flex">
                <p class="my-auto">Sign up to be notified of promos and style advice</p>
            </div>
            <div class="col-md-4">
                <input type="email" class="form-control bg-light border-0 text-uppercase" id="InputEmail"
                    placeholder="Email Address">
            </div>
            <div class="col-auto">
                <!--The "Join" button is linked to another page containing the Modal so it can be used in different pages of the site-->
                <button type="button" class="btn btn-secondary text-uppercase text-white shadow" data-bs-toggle="modal"
                    data-bs-target="#mailingListSignupModalFake">Join</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}