<!--Declaration of Doctype, language and UTF for HTML5 conventions-->
<!doctype html>

{% load static %}
{% load sass_tags %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Allowing titles to be dynamic across different pages-->
    <title>{% block title %}{% endblock %}</title>

    <!--Calling styles from the inbuilt css database and icons from a URL-->
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
</head>
<!--Allowing content to be dynamic across different pages-->

<body>
    {% include "header.html" %}

    {% block content %}{% endblock %}

    {% include "footer.html" %}

    <!--Calling bootstrap library from URL-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>