<!--Modal overlay which appears in the footer and the Home Page in the Newsletter Signup sections.
Appears on button click-->
<div class="modal fade" id="mailingListSignupModalFake" tabindex="-1" aria-labelledby="mailingListSignupModalFakeLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mailingListSignupModalFakeLabel">Thanks for signing up!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        We'll reach out to you with our latest promos and style advice. Talk soon!
      </div>
    </div>
  </div>
</div>