{% extends 'layout.html' %} 

{% block content %}

{% load humanize %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-4 p-3">
      <div>
        <h1>{% block title %} {{ post_detail.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post_detail.author }} | {{ post_detail.created_on }}</p>
        <p class="card-text ">{{ post_detail.content }}</p>
      </div>

      <h2 class="subtitle">Comments</h2>
      {% for comment in post.comments.all %}
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
               <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
               <br>
               {{ comment.body }}
              </p>
            </div>
          </div>
        </article>
      {% empty %}
        <div class="notification">
          <p>No comments yet</p>
        </div>
      {% endfor %}
      
      
      <h2 class="subtitle">Add Comment</h2>
        
        <form method="post" action=".">
          {% csrf_token %}
          
          {{ form.as_p }}

          <div class="field">
            <div class="control">
                <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>    
  </div>
</div>

{% endblock content %}