<!--Denotes that the checkout template is a child of the layout template, and will inherit it's properties-->
{% extends "layout.html" %}

<!--Overrides the title of the Layout template for the checkout page-->
{% block title %}Products | TheIdleMan{% endblock %}

<!--Overrides the body content of the Layout templat for the checkout page-->
{% block content %}

<!--Breadcrumbs section of the page which display the parent pages leading to current page.
    Separated by > symbol-->
<div class="container-fluid bg-light py-3">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                {% if category %}
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products">Products</a></li>
                <li class="breadcrumb-item active">{{ category }}</li>
                {% else %}
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Products</li>
                {% endif %}
            </ol>
        </nav>
    </div>
</div>

<!--Page heading and introduction text-->
<section>
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-md-7 mx-auto">
                {% if category %}
                <h1>{{ category }}</h1>
                {% else %}
                <h1>Menswear</h1>
                {% endif %}
                <p class="lead">Browse the latest in men's clothing and fashion with The Idle Man. Offering modern fits
                    and
                    premium fabrics, you'll discover the perfect outfit for any occasion.</p>
                <p class="lead">With our range, be the best man you can be.</p>
            </div>
        </div>
    </div>
</section>

<!--Filter and sorting functions.
    Filter or order products by category, color, price rating etc.
    Placeholder only - will be functional in final submission-->
<div class="container-fluid bg-light py-3 shadow-sm">
    <div class="container">
        <!-- Filter Dropdown. Allows the user to filter products. -->
        <span class="dropdown">
            <button class="btn btn-link dropdown-toggle text-decoration-none" type="button" id="filterDropdownButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Filter <i class="fas fa-filter"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdownButton">
                <li>
                    <h6 class="dropdown-header">Categories</h6>
                </li>
                {% for category in categories %}
                <li><a class="dropdown-item" href="/products/categories/{{ category.name }}">{{ category.name }}</a>
                </li>
                {% endfor %}

                {% if category %}
                <!-- Clear filter button -->
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-warning" href="/products">Clear filter</a></li>
                {% endif %}
            </ul>
        </span>

        <!-- Sort Dropdown. Allows the user to sort products. -->
        <span class="dropdown">
            <button class="btn btn-link dropdown-toggle text-decoration-none" type="button" id="filterDropdownButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort
                {% if request.GET.sort %}&nbsp;({{ request.GET.sort }}){% endif %}
                &nbsp;<i class="fas fa-sort"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdownButton">
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=-id">Newest First</a>
                </li>
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=id">Oldest First</a>
                </li>
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=price">Price - Lowest
                        First</a></li>
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=-price">Price -
                        Highest First</a></li>
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=category">Category</a>
                </li>
                <li><a class="dropdown-item"
                        href="/products/{% if category %}categories/{{ category }}{% endif %}?sort=name">Name</a></li>
            </ul>
        </span>
    </div>
</div>

<!--Product images, titles and price from database. 
    Displayed in grid of rows and columns which changes responsively based on viewport resolution
    As more products are added there will be multiple pages of products-->
<div class="container py-5">
    <div class="row g-4">
        {% for product in products %}
        <div class="col-lg-3 col-md-6">
            <div class="product-card card border-0 cursor-pointer" data-product-id="{{ product.id }}">
                <img src="{{ product.image.url }}" class="card-img-top" alt="product image">
                <div class="card-body text-center">
                    <h6 class="card-title">{{ product.name }}</h6>
                    <span class="h5"><strong>${{ product.price }}</strong></span>
                </div>
            </div>
        </div>
        {% endfor %}
        <script>
            const productCards = document.getElementsByClassName("product-card");
            for (const productCard of productCards) {
                productCard.onclick = function () {
                    window.location = `/products/${productCard.dataset.productId}`;
                }
            }
        </script>
    </div>
</div>
{% endblock %}