{% extends "layout.html" %}

{% block title %}{{ product.name }} | TheIdleMan{% endblock %}

{% block content %}

<div class="container-fluid bg-light py-3">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="/products">Products</a></li>
                <li class="breadcrumb-item active">{{ product.name }}</li>
            </ol>
        </nav>
    </div>
</div>

{# Main Product Details/Selection #}
<div class="container-fluid py-4">
    <div class="container">
        <div class="row">
            <!-- Main Image -->
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="card-img-top">
            </div>
            <div class="col-md-2 row">
                {% load static %}
                <!-- Need to pull additional product images from database which can be clicked through as main (largest) image -->
                <!-- Using placeholder images for now -->
                <img src="{% static 'images/idleman-hoodie-blue1.jpg' %}" alt="..." class="img-fluid pb-3">
                <img src="{% static 'images/idleman-hoodie-blue3.jpeg' %}" alt="..." class="img-fluid py-3">
                <img src="{% static 'images/idleman-hoodie-blue4.jpeg' %}" alt="..." class="img-fluid pt-3">
            </div>
            <!-- Right side product info -->
            <div class="col-md-4 mt-3">
                <p class="fs-4 py-1">{{ product.name }}</p>
                <h4 class="fw-bolder py-1">${{ product.price }}</h4>
                <p class="py-2"><u>Free delivery & returns*</u></p>
                <!-- Star rating -->
                <div class="row g-2">
                    <div class="col-md-3">
                        <img src="{% static 'images/five-stars.png' %}" alt="five stars" class="img-fluid">
                    </div>
                    <div class="col-auto">
                        <p>5 (6 reviews)</p>
                    </div>
                </div>
                <!-- Colour selection -->
                <h6 class="fw-bolder text-uppercase py-3">Colour:</h6>
                <div class="row g-2">
                    <div class="col-1 p-3 mb-2 mt-1 mx-1 bg-light shadow"></div><!-- Colour A -->
                    <div class="col-1 p-3 mb-2 mt-1 mx-1 bg-secondary shadow border border-2 border-dark"></div><!-- Colour B -->
                    <div class="col-1 p-3 mb-2 mt-1 mx-1 bg-primary shadow"></div><!-- Colour C -->
                </div>
                <!-- Size label -->
                <div class="row pt-4">
                    <div class="col-md-3">
                        <h6 class="fw-bolder text-uppercase">Size:</h6>
                    </div>
                    <div class="col-md-3 offset-md-3">
                        <p class="text-uppercase"><u>Size Guide</u></p>
                    </div>
                </div>
                <!-- Size selection -->
                <div class="row p-1">
                    <div class="col-auto px-3 py-2">
                        <span class="align-middle">S</span>
                    </div>
                    <div class="col-auto px-3 py-2 bg-light shadow">
                        <span class="align-middle">M</span>
                    </div>
                    <div class="col-auto px-3 py-2">
                        <span class="align-middle">L</span>
                    </div>
                    <div class="col-auto px-3 py-2">
                        <span class="align-middle">XL</span>
                    </div>
                    <div class="col-auto px-3 py-2">
                        <span class="align-middle">XXL</span>
                    </div>
                </div>

                <!-- Quantity selection dropdown -->
                <h6 class="fw-bolder text-uppercase py-3 mt-2">Quantity:</h6>
                <div class="dropdown">
                    <button class="btn border border-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-uppercase">1</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="#">2</a></li>
                      <li><a class="dropdown-item" href="#">3</a></li>
                      <li><a class="dropdown-item" href="#">4</a></li>
                      <li><a class="dropdown-item" href="#">5</a></li>
                    </ul>
                  </div>

                <!-- Test on avatar link -->
                    <div class="d-flex justify-content-end align-items-center pt-4">
                        <div class="col-md-1">
                            <img src="{% static 'images/avatar-icon.png' %}" alt="avatar icon" class="img-fluid p-2">
                        </div>
                        <div class="col-auto">
                            <a href="#" class="text-uppercase text-underline">Test On Avatar</a>
                        </div>
                    </div>

                <!-- Add to wishlist link -->
                <div class="d-flex justify-content-end align-items-center py-2">
                    <div class="col-md-1">
                        <img src="{% static 'images/heart-icon.png' %}" alt="wishlist icon" class="img-fluid p-2">
                    </div>
                    <div class="col-auto">
                        <a href="#" class="text-uppercase text-underline">Add to Wishlist</a>
                    </div>
                </div>
                                                  
                <!-- Add to Cart Button -->
                <div class="col row p-2">
                        <button class="btn btn-secondary shadow text-white">Add To Cart</button>
                </div>             
        </div>
    </div>
</div>
</div>
 
<!-- Product Description Collapsible -->
<div class="container-fluid bg-light mt-5 py-3 border border-1" data-bs-toggle="collapse" data-bs-target="#productDescription">
    <button class="btn container-fluid">Product Description  +</button>
    <div class="collapse" id="productDescription">
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                </div>
        </div>      
</div>  

<!-- Details and Care Collapsible -->
<div class="container-fluid bg-light py-3 border border-1" data-bs-toggle="collapse" data-bs-target="#detailsAndCare">
    <button class="btn bg-light container-fluid">Details And Care  +</button>
    <div class="collapse" id="detailsAndCare">
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                </div>
        </div>      
</div>  

<!-- Shipping and Returns Collapsible -->
<div class="container-fluid bg-light py-3 border border-1" data-bs-toggle="collapse" data-bs-target="#shippingAndReturns">
    <button class="btn bg-light container-fluid">Shipping and Returns  +</button>
    <div class="collapse" id="shippingAndReturns">
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                </div>
        </div>      
</div> 

<!-- Customer Reviews Collapsible -->
<div class="container-fluid bg-light py-3 border border-1" data-bs-toggle="collapse" data-bs-target="#customerReviews">
    <button class="btn bg-light container-fluid" >Customer Reviews  +</button>
    <div class="collapse" id="customerReviews">
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                </div>
        </div>      
</div> 

<!-- You May Also Like Carousel -->
<!-- Work in progress, needs more formatting -->
<!-- Will need further products entered to link -->
<div class="d-flex justify-content-center">
    <h3 class="text-uppercase my-5">You Might Also Like...</h3>
</div>    

<div class="container-fluid bg-secondary d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="card d-inline-block py-5 mx-5">Product 1</a>
                <a class="card d-inline-block py-5 mx-5">Product 2</a>
                <a class="card d-inline-block py-5 mx-5">Product 3</a>
                <a class="card d-inline-block py-5 mx-5">Product 4</a> 
            </div>
            <div class="carousel-item">
                <a class="card d-inline-block py-5 mx-5">Product 5</a>
                <a class="card d-inline-block py-5 mx-5">Product 6</a>
                <a class="card d-inline-block py-5 mx-5">Product 7</a>
                <a class="card d-inline-block py-5 mx-5">Product 8</a>
            </div>
            <div class="carousel-item">        
                <a class="card d-inline-block py-5 mx-5">Product 9</a>
                <a class="card d-inline-block py-5 mx-5">Product 10</a>
                <a class="card d-inline-block py-5 mx-5">Product 11</a>
                <a class="card d-inline-block py-5 mx-5">Product 12</a> 
            </div>
        </div>
        <a class="carousel-control-prev justify-content-start" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next justify-content-end" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

<!-- Test the Look Section -->
<div class="d-flex justify-content-center my-5">
    <h3 class="text-uppercase">Want to test the look?</h3>
</div>  
<div class="d-flex justify-content-center">
    <p class="text w-50 text-center">We know online shopping isn't always easy, especially when it comes to matching clothing pieces. Ever done an online clothing haul and realised you can't wear any of it together? Yeah, us too</p>
</div>
<!-- Try on Avatar button -->
<div class="d-flex justify-content-center my-5">
    <!-- Add t-shirt icon -->
    <button class="btn btn-secondary shadow text-white"><img src="{% static 'images/avatar-icon.png' %}" alt="avatar icon" class="img-fluid col-md-1 px-2">Try on Avatar</button>
</div>  

{% endblock %}