{% extends "layout.html" %}

{% block title %}Shopping Cart | TheIdleMan{% endblock %}

{% block content %}
    {% load humanize %}
    {% load static %}

    <div class="container-fluid bg-light py-3">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                    <li class="ms-auto">
                        <a href="/products" class="d-flex justify-content-between text-dark">
                            <i class="fas fa-arrow-circle-left fa-2x"></i><span class="my-auto text-uppercase ms-2">Continue Shopping</span>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row">
            {# Cart column #}
            <div class="col-md-7">
                <h2 class="text-uppercase text-center mb-5">Your Cart</h2>
                <table class="table">
                    <thead class="text-center text-uppercase">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                {{ item.product.name }}<br>
                                <img src="{{ item.product.image.url }}" class="img-fluid" style="max-width: 10rem;">
                            </td>
                            <td class="text-center align-middle">
                                ${{ item.product.price|floatformat:2|intcomma }}
                            </td>
                            <td class="text-center align-middle">{{ item.quantity }}</td>
                            <td class="text-center align-middle">${{ item.total|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row py-5 mb-5 mb-md-0 bg-success">
                    <p class="mb-0">* Free shipping onn orders over $100 AUD</p>
                </div>
            </div>

            {# Order summary column #}
            <div class="col-md-5 text-center">
                <h2 class="text-uppercase mb-5">Order Summary</h2>
                <p class="lead text-uppercase mb-5">Subtotal: <span
                        class="fw-bold">${{ subtotal|floatformat:2|intcomma }}</span></p>
                <p class="lead text-uppercase mb-5">
                    Shipping:
                    {% if free_delivery %}
                        <span class="fw-bold">FREE</span>
                    {% else %}
                        <span class="fw-bold">$15.00</span>
                    {% endif %}
                </p>
                <hr>

                <p class="h2 text-uppercase my-5">ORDER TOTAL: ${{ total|floatformat:2|intcomma }}</p>

                <div class="d-grid">
                    <a href="#" class="btn btn-secondary text-uppercase block btn-lg text-white shadow py-3">Proceed to
                        Checkout</a>
                </div>

                <div class="row row-cols-2 g-4 py-5 px-5">
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/afterpay.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/paypal.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/visa.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/mastercard.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/amex.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0 bg-light p-4 d-flex">
                            <img src="{% static 'images/zip.png' %}" class="card-img-top my-auto">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row py-5">
                    <h2 class="mb-5">Got a question before you checkout?</h2>
                    <div class="d-grid gap-3">
                        <a href="" class="btn btn-primary shadow text-white text-uppercase">Size Guide</a>
                        <a href="" class="btn btn-primary shadow text-white text-uppercase">FAQs</a>
                        <a href="" class="btn btn-primary shadow text-white text-uppercase">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}